<header class="masthead" role="banner">
  <h3 class="text-muted">Ambiente de treinamento para automação de testes</h3>
  <ul class="nav nav-justified">
    <li><a data-route="index" href="index.html">Home</a></li>
    <li><a data-route="alertsconfirmation" href="alertsconfirmation.html">Alerts and Confirmations</a></li>
    <li><a data-route="desafiosoma" href="desafiosoma.html">Calculadora</a></li>
    <li><a data-route="localizandovalorestable" href="localizandovalorestable.html">Localizar Table</a></li>
    <li><a data-route="utilizandoxpath" href="utilizandoxpath.html">Localizando por Xpath</a></li>
    <li><a data-route="elementsweb" href="elementsweb.html">Web Elementos</a></li>
    <li><a data-route="geradorcpf" href="geradorcpf.html">Gerador CPF</a></li>
  </ul>
</header>
